{% extends "blog/base.html" %}
{% block content %}
    <h1>About Us</h1>
    <p>Bione is a community blog where users discuss recent advances in engineering, biotechnology, and physics. As a home for
    your research within our family of journals, we're committed to providing an open-source platform to allow enthusiasts
    to share their ideas and collaborate. Updated weekly, we like to provide enhanced content to suit whatever your
    discipline. We are committed to developing the next generation of scientists and fanatics through our open-source
    studies and research papers.</p>
{% endblock content %}
